.wrapper {
    display: inline-flex;
}

.parentWrapper {
    width: fit-content;
}

.avatar {
    font-size: 15px;
}

.avatarIcon {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.avatarWrap {
    display: flex;
}