$margin_value: 20px;
$height_value: 25px;

.wrapper {
    display: inline-flex;
}

.parentWrapper {
    width: fit-content;
}

.avatar {
    font-size: 15px;
}

.avatarIcon {
    margin-top: $margin_value;
    margin-left: $margin_value;
    margin-right: 10px;
    width: $height_value;
    height: $height_value;
}

.avatarWrap {
    display: flex;
}