@mixin float-right {
    float: right;
}

.button {
    margin: 25px;
}

.detailsWrapper {
    display: flex;
}

.managePassenegrs {
    @include float-right;
    width: 50%;
}

.addons {
    @include float-right;
    width: 50%;
}

.erroList {
    float: left;
}