$pointerValue: pointer;

.logoIcon {
  font-size: 2.7rem !important;
  cursor: $pointerValue;
}

.logoImg {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  cursor: $pointerValue;
}
